# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5439/backend-4
SPRING_DATASOURCE_USERNAME=backend
SPRING_DATASOURCE_PASSWORD=backend

# Spring AI / OpenAI
SPRING_AI_OPENAI_API_KEY=replace_with_real_openai_key
SPRING_AI_OPENAI_EMBEDDING_OPTIONS_MODEL=text-embedding-3-small
SPRING_AI_VECTORSTORE_PGVECTOR_INITIALIZE_SCHEMA=true
SPRING_AI_VECTORSTORE_PGVECTOR_DIMENSIONS=1536

# LocalStack / AWS SDK
SPRING_CLOUD_AWS_ENDPOINT=http://localhost:4666
SPRING_CLOUD_AWS_REGION_STATIC=us-east-1
SPRING_CLOUD_AWS_CREDENTIALS_ACCESS_KEY=test
SPRING_CLOUD_AWS_CREDENTIALS_SECRET_KEY=test
